/**
 * Revision History:
 *     Initial: 2018/04/25          Wang Huajian
 */

 .header {
  z-index: 8;
  background-color: #FFFFFF
}

.menu {
  position: absolute;
  left: 16px;
  top: 0;
  border-bottom: 0;
  line-height: 64px;
}

.content {
  height: 80vh
}

.footer {
  z-index: 8;
  background-color: #FFFFFF
}
