.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  height: 150px;
  background-color: white;
}
.logo {
  margin-left: 4.0vw;
  margin-right: 3.5vw;
  margin-top: 3.5vw;
  height: 150px;
  width: 3vw;
}
.menu {
  line-height: 150px;
  width: 88vw;
  border-bottom: 1px solid white;
}
.reactnative {
  display: flex;
  justify-content: center;
  width: 18vw;
  font-size: 2vw;
  margin-right: 2vw;
}
.content {
  min-height: 90vh;
  background-color: white;
}
.card {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  // text-align: center;
}
.icon {
  font-size: 16px;
  color: #08c;
  margin-right: 10px;
  margin-bottom: 20px;
}
.page {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.texthidden {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;  
}
.footer {
  text-align: center;
  a {
    color: grey;
  }
}
.bottom {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 8px;
}


@media screen and (max-width: 576px) {
  .reactnative {
    font-size: 100%
  }
}

