.body {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #bbafa9;
}
.site {
  width: 100%;
  min-height: 100vh;
  // position: absolute;
  // left: 0;
  // top: 0;
  // bottom: 0;
  // z-index: 0;
  opacity: 1;
}
.photo {
  // flex: 1;
  // height: 100%;
  // width: 100%;
  width: 25%;
  height: 94vh;
  object-fit: cover;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0.7;
}
.footer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  background-color: rgb(187, 175, 169);
}
.text {
  position: relative;
  top: 2px;
}