@import "~antd/lib/style/themes/default.less";
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trigger {
  font-size: 20px;
  cursor: pointer;
  transition: all .3s;
  padding: 22px 22px;
  float: right;
}
.menu {
  height: 100%;
  background-color: #F8F8F8;
  border-right: 0;
  padding-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    font-size: 38px;
  }
}
.Footer {
  padding: 0 16px;
  margin: 48px 0 24px 0;
  text-align: center;

  .copyright {
    color: @text-color-secondary;
    font-size: @font-size-base;
  }
}