@import "~antd/lib/style/themes/default.less";
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trigger {
  font-size: 20px;
  cursor: pointer;
  transition: all .3s;
  padding: 22px 22px;
  float: right;
}
.menu {
  position: fixed;
  height: 100%;
  background-color: #F8F8F8;
  border-right: 0;
  padding-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    font-size: 38px;
  }
}
.Footer {
  padding: 0 16px;
  margin: 48px 0 24px 0;
  text-align: center;
}
.global {
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  padding-top: 140px;
  font-family: maaemo_regular,sans-serif;
  font-size: 1.25em;
  line-height: 1.4;
  padding: 100px 40px 0 40px;
  color: #000;
}
.picture {
  float: right;
  width: 50%;
  padding-left: 48px;
  padding-right: 46px;
}
.inpicture {
  width: 100%;
}
.pictureleft {
  float: left;
  padding: 10px 48px;
}
.wordright {
  float: right;
  text-align: center;
  padding-right: 16px;
}
.picturebottom {
  width: 100%;
  height: 603px;
  vertical-align: middle;
  margin-top: 100px;
}
.table {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.word {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 200;
  padding-left: 30px;
}

.wordone {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.25em;
  margin: 0 0 1.25em 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .wordone {
    font-size: 28px;
    font-weight: 200;
    line-height: 1.25em;
  }
}
@media only screen and (min-width: 75em) {
  .word {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 200;
    padding-left: 30px;
  }
}