
.card {
  width: 60%;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  color: 	#F4A460;
}

.icon {
  font-size: 16px;
  color: #08c;
  margin-right: 10px;
  margin-bottom: 20px;
}

.tag {
  margin-left: 20px;
}